<p>Latitude: <code>{{lat}}</code> / Longitude: <code>{{lng}}</code></p>
{{#leaflet-map id="leaflet-container" lat=lat lng=lng zoom=zoom onMoveend=(action "updateCenter")}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
{{/leaflet-map}}
