{{#paper-toolbar}}
<div class="md-toolbar-tools">
    {{#paper-button click=(transition-to 'index')}}{{paper-icon 'home'}}Home{{/paper-button}}
    <div class="paper-right">
      {{paper-icon 'person'}}
    </div>
</div>
{{/paper-toolbar}}

{{#paper-content class="md-padding"}}
<br>
<br>
<div class="md-padding">
{{#link-to "leaflet-container"}}leaflet-container{{/link-to}}<br>
{{#link-to "adding-layers"}}adding-layers{{/link-to}}<br>
{{#link-to "actions-interactions"}}actions-interactions{{/link-to}}<br>
{{#link-to "contextual-components"}}contextual-components{{/link-to}}
</div>
<br>
<br>
{{outlet}}
{{/paper-content}}